{{> menu active="about"}}

<section class="hero">
  <div class="hero-body has-text-centered">
    <p class="title ">
      Placemark : Find where the bridges are </p>
    <p class="box">
      <i class="fas fa-bridge fa-10x" style="color:darkorange"></i>
      <i class="fas fa-plus fa-4x" style="color:deepskyblue"></i>
      <i class="fas fa-location fa-10x" style="color:gold"></i>
    </p>


<div class="columns is-vcentered ">
  <div class="column has-text-centered">
    <b> London bridge </b>
  </div>
  <div class="column">
<figure>
  <img src="/images/london.jpg">
</figure>
  </div>
</div>

  <div class="columns is-vcentered ">
  <div class="column has-text-centered">
    <b> O'Connell bridge </b>
  </div>
  <div class="column">
<figure>
  <img src="/images/dublin.jpg">
</figure>
  </div>
</div>

  <div class="columns is-vcentered ">
  <div class="column has-text-centered">
    <b>   HalfPennyBridge</b>
  </div>
  <div class="column">
<figure>
  <img src="/images/HalfPennyBridge.jpg">
</figure>
  </div>
</div>

  <div class="columns is-vcentered ">
  <div class="column has-text-centered">
    <b>  Pont Neuf</b>
  </div>
  <div class="column">
<figure>
  <img src="/images/paris.jpg">
</figure>
  </div>
</div>


</section>
