{{> menu active="about"}}

<section class="hero">
  <div class="hero-body has-text-centered">
    <p class="title ">
      Placemark : Find where the bridges are </p>
    <p class="box">
      <i class="fas fa-bridge fa-10x" style="color:darkorange"></i>
      <i class="fas fa-plus fa-4x" style="color:deepskyblue"></i>
      <i class="fas fa-location fa-10x" style="color:gold"></i>
    </p>
  </div>
</section>
