{{> welcome-menu}}

<div class="columns is-vcentered ">
  <div class="column has-text-centered">
    <h> Sign up or Log in... </h>
  </div>
  <div class="column">
<figure>
  <img src="/images/bridge.jpg">
</figure>
  </div>
</div>