
  <form action="/dashboard/addcountry" method="POST">
    <div class="field">
      <label class="label">Country Title</label>
      <input class="input" type="text" placeholder="Enter country title" name="name">
    </div>
    <button class="button is-link">Add country</button>
  </form>
