<table class="table is-fullwidth is-striped has-background-warning-light">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Delete User</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
      <tr>
        <td>
          {{firstName}}
        </td>
        <td>
          {{lastName}}
        </td>
        <td>
            {{email}}
        </td>
       
        <td>
          <a href="/admin-dashboard/deleteuser/{{_id}}" class="button">
      <i class="fas fa-trash" style="color: #DE3163"></i>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>